<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        #{stylesheet src: 'reset.css', media: 'screen' /}
        #{stylesheet src: 'main.css', media: 'screen' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{script src: 'html5.js', charset: 'utf-8' /}
        #{script src: 'jquery-1.4.min.js', charset: 'utf-8' /}
    </head>
    <body>
    	<header>
    		<img src="@{'/public/images/logo.png'}" />
    	</header>
    	<nav>
	    	#{if user}
	       		User: ${user} (<a href="@{Higgs.logout()}">Logout</a>)
	        #{/if}
	        #{else}
	        	<a href="@{Higgs.login()}">Login</a>
	        #{/else}
        </nav>
        <section id="main">
			#{if flash.error}
				<p class="error">${flash.error}</p>
			#{/if}
			#{if flash.success}
            	<p class="success">${flash.success}</p>
        	#{/if}
        
        	#{doLayout /}
        </section>
    </body>
</html>
